* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: sans-serif;
	color: hsl(260, 60%, 98%);
	background-color: hsl(254, 59%, 26%);
}

img {
	border-radius: 15px;
}

a {
	color: hsl(321, 70%, 69%);
}
